@model IEnumerable<ClienteProduto.Models.Carro>

@{
    Layout = "_LayoutIES";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
}
<p>
    <div class="card-header text-primary bg-light text-center h1">
        Lista de Carros
    </div>

</p>
<div class="card-body">
    <table class="table table-striped" id="tabela-departamentos">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarroId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumChassi)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarroId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumChassi)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CarroId">Alterar</a> |
                        <a asp-action="Details" asp-route-id="@item.CarroId">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.CarroId">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary"> Criar Carro </a>
</p>

@section ScriptPage{
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

}



